<div style="">
  <img width="800" style="position: relative; " src="../assets/background.png"/>
  <div [class.wobble-hor-bottom]="css_hit" [class.rotate-center]="css_rotateCenter" [class..rotate-hor-top]="css_rotateHorTop" style="width: fit-content; position: absolute; top: 250px; left: 350px;">
    <img id="slimeyId" [@death]="ng_death" [@preAttack]="ng_preAttack" [@attack]="ng_attack" [@shake]="ng_shake" [@bounce]="ng_bounce" [@flip]="ng_flip" class="slime" width="150" src="../assets/slimeyWithBorder.png"/>
  </div>
</div>
<div style="padding: 20px">
  <button *ngIf="!slimeIsPresent" mat-raised-button color="accent" (click)="spawn()">Spawn</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="death()">Death</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="attack()">Attack</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="hit()">Hit</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="bounceShakeFlip()">Bounce/Shake/Flip</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="infiniteTripleSpin()">Infinite Triple Spin</button>
</div>
